.direnv/
.git/
.github/
.vscode/
coverage/
docs/
html/
node_modules/
src/**/*.test.ts
.env
.envrc
.gitignore
.npmignore
.prettierrc
flake.lock
flake.nix
renovate.json
tsconfig.json
typedoc.json
vitest.config.json
